/*默认样式*/
body{font-size:14px;color:#000;background:#fff;font-family:"微软雅黑";}
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, input, textarea, select{margin:0;padding:0}
h1,h2,h3,h4,h5,h6,strong,b{font-size:100%;font-weight:normal;}
img{border:0;vertical-align:middle}
em{font-style:normal}
li{list-style:none}
em,i{font-style:normal}
table{border-collapse:collapse}
textarea{resize: none;}
input{vertical-align: middle;}
button{outline: none;*star: expression(this.onFocus=this.blur());cursor: pointer;}
textarea,input,select{background:none;border:none;outline:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
.clearFloat{*zoom:1}
.clearFloat:after{visibility:hidden;clear:both;display:block;content:".";height:0}
/*公共头部样式*/
header{width:1200px;margin:0 auto;height:60px;line-height:60px;}
header .logo{float:left;margin-right:20px;}
header nav{float:left;}
header .information{float: right;}
header nav li{float:left;}
header nav li a{display:block;padding:0 35px;font-family:'微软雅黑';font-weight: 400;font-style: normal;font-size:16px;color:#333;}
header nav li a:hover{background-color: rgba(216, 91, 75, 1);color:#fff;text-decoration:none;}
header .information .notice{float:left;margin:auto 15px;}
header .information .user{float:left;margin:auto 15px;}
/*公共主标题样式*/
.title_wrap{background-color: rgba(51, 63, 76, 1);margin-bottom: 10px;}
.title_container{width: 1200px;height:60px;margin:0 auto;}
.subnav{float:left;line-height:60px;font-size:20px;color:#FFFFFF;text-align:left;}
.subnav span{display:inline-block;width:4px;height:22px;background-color: rgba(216, 91, 75, 1);vertical-align: middle;}
.subnav a,.subnav strong{font-size:16px;color: #FFFFFF;}
.subnav_back{float:right;margin-top:10px;}
.subnav_back a{width:150px;line-height:25px;}
/*公共主体样式*/
.othermain_wrap{width:1200px;margin:0 auto;}
.othermain_left1{float:left;width:210px;height:1030px;margin-right:10px;margin-bottom: 10px;border:1px solid #ddd;}
.othermain_left1.othermain_left2{height:700px}
.othermain_left1 dl dt{height:50px;line-height:50px;text-align:center;font-size: 18px;color: #333F4C;font-weight: 400;background:#eee;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.othermain_left1 dl dt{border-top:none}
.othermain_left1 dl dd{border-bottom: 1px solid #ddd;}
.othermain_left1 dl dd a{display:block;line-height: 50px;color:#333;text-align: center;}
.othermain_left1 dl dd a:hover{background:#F4F4F4;}
.othermain_right{float:left;width:980px;}
.section{padding:10px;margin-bottom:10px;box-sizing:border-box;border: 1px solid #ddd;box-shadow: 1px 1px 5px #ddd;}
/*公共底部样式*/
footer{background-color: rgba(51, 63, 76, 1);}
footer .nav_wrap{width:1200px;margin:0 auto;background:#3d4854;margin-bottom: 30px;}
footer .nav_wrap dl{float:left;width:100px;margin:0 70px 15px;padding-top:30px;}
footer .nav_wrap dl dt{font-family:"微软雅黑";font-size:16px;color: #FFFFFF;text-align: center;margin-bottom: 20px;}
footer .nav_wrap dl dd{margin-bottom: 10px;text-align:center;}
footer .nav_wrap dl dd a{font-size:14px;color: #FFFFFF;}
footer .nav_wrap dl dd a:hover{text-decoration:none;}
footer .bottom{padding-bottom:1px;text-align:center;}
footer .bottom p{font-family: '微软雅黑';font-weight: 400;font-style: normal;font-size: 14px;color: #FFFFFF;margin-bottom: 10px;}
footer .bottom p a{color: #FFFFFF;}
footer .bottom p a:hover{text-decoration:none;}
footer .bottom div{height:1px;background:#666;margin:0 auto;margin-bottom: 10px;}
