/*数据资产目录*/
.othermain_left1.data_left dl dd{padding:10px 0 0 10px;}
.othermain_left1.data_left dl dd a{display:inline-block;padding:6px 10px;margin:0 5px 10px 0;line-height:1.42857143;font-size:12px;color: #FFFFFF;font-weight: bold;text-align: center;border-radius:5px;}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(1){background-color: #39cccc !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(1):hover{background-color:#30bbbb !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(2){background-color: #00c0ef !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(2):hover{background-color:#00a7d0 !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(3){background-color: #00a65a !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(3):hover{background-color:#008d4c !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(4){background-color: #f39c12 !important;}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(4):hover{background-color:#db8b0b !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(5){background-color: #dd4b39 !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(5):hover{background-color:#d33724 !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(6){background-color: #d81b60 !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(6):hover{background-color:#ca195a !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(7){background-color: #605ca8 !important}
.othermain_left1.data_left dl:nth-child(1) dd a:nth-child(7):hover{background-color:#555299 !important}
.othermain_left1.data_left dl:nth-child(2) dd a{background-color: #3c8dbc !important}
.othermain_left1.data_left dl:nth-child(2) dd a:hover{background-color:#357ca5 !important}
.othermain_left1.data_left dl:nth-child(3) dd a{background-color:#d2d6de !important}
.othermain_left1.data_left dl:nth-child(3) dd a:hover{background-color:#b5bbc8 !important}
.othermain_left1.data_left dl:nth-child(4) dd a{color: #666666;border-width: 1px;border:1px solid #666;} 
.search_wrap{width:95%;margin:0 auto;}
.search_wrap input[type="search"]{display:inline-block;width:90%;height:40px;background: inherit;background-color: rgba(255, 255, 255, 1); box-sizing:border-box;border-width:1px;border-style: solid;border-color:#ddd;text-align: center;}
.search_wrap input[type="button"]{display:inline-block;width:10%;height:40px;background: #d9534f url(../img/u120.png) no-repeat center center;border-width:1px;border-style: solid;border-color:#d9534f;}
.section_middle{background-color: #eee;}  
.loop_left{float:left;width:74.48%;height:378px;position:relative;padding-top:10px; box-sizing:border-box;}
.loop_right{float:right;width:25.52%;padding-top:150px; box-sizing:border-box;}
.loop_right a{display:block;width: 150px;line-height:25px;margin:0 auto;margin-bottom:30px;border-radius: 5px;font-size: 13px;text-align: center;}
.hot_search,.dynamic{float:left;width:50%;padding-top:10px;margin-bottom: 10px;}
.hot_search dt,.dynamic dt{font-size: 16px;color: #d9534f;margin-bottom:15px;}
.hot_search dd{padding:5% 0 0 5%; box-sizing:border-box;border:1px solid #ddd;;border-top:none;}
.hot_search dd h4{font-size: 20px;font-weight: 700;margin-bottom: 5px;}
.hot_search dd p{font-size: 14px;color: #666666;}
.hot_search dd:nth-of-type(1){height: 117px;background:rgba(48,187,187,0.3) url(../img/u153.png) no-repeat 95% 15px;box-sizing:border-box;border-top:1px solid #ddd;;}
.hot_search dd:nth-of-type(2){height: 117px;background:rgba(48,187,187,0.1) url(../img/u153.png) no-repeat 95% 15px; box-sizing:border-box; } 
.hot_search dd:nth-of-type(3){float:left;width:50%;height: 117px;background-color: #eee;box-sizing:border-box;border-right:none; }
.hot_search dd:nth-of-type(4){float:left;width:50%;height: 117px;background:#fff url(../img/u153.png) no-repeat 95% 15px; }
.hot_search dd:nth-of-type(5){float:left;width:50%;height: 59px;background:#fff;box-sizing:border-box;border-right:none; }
.hot_search dd:nth-of-type(5) h4{font-weight:normal;font-size:18px;}
.hot_search dd:nth-of-type(6){float:left;width:50%;height: 59px;;background-color: #eee;box-sizing:border-box; }
.hot_search dd:nth-of-type(6) h4{font-weight:normal;font-size:18px;}
.hot_search dd:nth-of-type(7){float:left;width:50%;height: 59px;;background:#eee url(../img/u153.png) no-repeat 95% 15px;box-sizing:border-box; border-right:none;}
.hot_search dd:nth-of-type(7) h4{font-weight:normal;font-size:18px;}
.hot_search dd:nth-of-type(8){float:left;width:50%;height: 59px;background:#fff url(../img/u153.png) no-repeat 95% 15px;box-sizing:border-box;}
.hot_search dd:nth-of-type(8) h4{font-weight:normal;font-size:18px;}

.dynamic{padding-left:3%;padding-right:1%;}
.dynamic dd{margin:15px 0;color: #999999;}
.dynamic dd span{display:inline-block;margin-right:5%;color:#333;}
.dynamic dd a{isplay:inline-block;margin:0 0.25%;color:#333;text-decoration: underline;}

/*数据资产目录_应用领域_财务统计*/
.statistics_list li{padding:10px;margin-bottom:10px;box-sizing:border-box;border: 1px solid #ddd;}
.statistics_list li h3{display:inline-block;font-weight: 700;font-size: 16px;color: #D85B4B;line-height:32px;margin-right:10px;}
.statistics_list li span{display:inline-block;padding:6px 10px;line-height:1.42857143;margin-right:10px;border-radius:5px;color: #FFFFFF;text-align: center;font-weight: 700;font-size:14px;background-color: #30bbbb !important;}
.statistics_list li strong{display:inline-block;padding:6px 10px;line-height:1.42857143;border-radius:5px;color: #FFFFFF;text-align: center;font-weight: 700;font-size:14px;background-color: #357ca5 !important;}
.statistics_list li p{text-indent:2em;height:60px;margin:10px 0;}
/*多行文本溢出隐藏  垮浏览器兼容
.statistics_list li p{position:relative;line-height:20px;max-height:60px;overflow:hidden;}
.statistics_list li p:after {content: "...";position:absolute;bottom:0;right:0;padding-left:40px;background:-webkit-linear-gradient(left,transparent,#fff 55%);background:-o-linear-gradient(right,transparent,#fff 55%);background:-moz-linear-gradient(right,transparent,#fff 55%);background:linear-gradient(to right,transparent,#fff 55%);
}*/
/*多行文本溢出隐藏  兼容WebKit浏览器及移动端*/
.statistics_list li p{display:block;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient: vertical;overflow:hidden;text-overflow:ellipsis;}	
.statistics_list li div b{float:left;font-size: 12px;line-height:34px;}
.statistics_list li div a{float:right;margin-left:10px;}

/*数据资产目录_资产分类_数据标准*/
.asset_class_title{padding:5px 10px;background-color:#d33724;color: #FFFFFF;}
.asset_class_title h3{display:inline-block;font-weight: 700;font-size: 16px;color: #fff;line-height:32px;margin-right:10px;}
.asset_class_title  span{display:inline-block;padding:6px 10px;line-height:1.42857143;margin-right:10px;border-radius:5px;color: #FFFFFF;text-align: center;font-weight: 700;font-size:14px;background-color: #30bbbb !important;}
.asset_class_title  strong{display:inline-block;padding:6px 10px;line-height:1.42857143;border-radius:5px;color: #FFFFFF;text-align: center;font-weight: 700;font-size:14px;background-color: #357ca5 !important;}
.asset_class_title  i{float:right;display:inline-block;font-size:12px;font-weight: normal;line-height:32px;}
.asset_class_table tbody tr td:first-child{width:20%;font-weight: 700;font-size: 14px;text-align:center;}
.asset_class_table tbody tr td b{font-weight:bold;}
.asset_class_table tbody tr td:last-child{width:80%;}

/*数据模型稽核_新建流程*/
.bottom_line{width:90%;height:2px;background:#eee;margin:0 auto;margin-top:4%;}
.bottom_line_r1{width:9%;height:2px;background:#D85B4B;position:absolute;left:5.9%;top:38%;}
.bottom_line_r2{width:9%;height:2px;background:#D85B4B;position:absolute;left:21.5%;top:38%;}
.bottom_line_r3{width:9%;height:2px;background:#D85B4B;position:absolute;left:37.9%;top:38%;}
.bottom_line_r4{width:9%;height:2px;background:#D85B4B;position:absolute;left:53.9%;top:38%;}
.bottom_line_r5{width:9%;height:2px;background:#D85B4B;position:absolute;left:70%;top:38%;}
.flow_list{width:90%;position:absolute;left:10%;top:10%;}
.flow_list li{float:left;margin:0 5%;text-align: center;color:#999;}
.flow_list li div{width:70px;height:70px;margin-bottom:20%;border-radius: 100%;border:1px solid #ddd}
.flow_list li:nth-child(1) div{background:#eee url(../img/g_bulid1.png) no-repeat center center;border:1px solid #ddd}
.flow_list li:nth-child(1).active1{color:#D85B4B}
.flow_list li:nth-child(1).active1 div{background:#D85B4B url(../img/g_bulid1.png) no-repeat center center;border:1px solid #D85B4B}
.flow_list li:nth-child(1).active1.active2 div{background:#fff url(../img/r_bulid1.png) no-repeat center center;border:1px solid #D85B4B}

.flow_list li:nth-child(2) div{background:#eee url(../img/g_bulid2.png) no-repeat center center;border:1px solid #ddd}
.flow_list li:nth-child(2).active1{color:#D85B4B}
.flow_list li:nth-child(2).active1 div{background:#D85B4B url(../img/g_bulid2.png) no-repeat center center;border:1px solid #D85B4B}
.flow_list li:nth-child(2).active1.active2 div{background:#fff url(../img/r_bulid2.png) no-repeat center center;border:1px solid #D85B4B}
.pager_wrap{text-align: right;}



.flow_list li:nth-child(3) div{background:#eee url(../img/g_bulid3.png) no-repeat center center;border:1px solid #ddd}
.flow_list li:nth-child(3).active1{color:#D85B4B}
.flow_list li:nth-child(3).active1 div{background:#D85B4B url(../img/g_bulid3.png) no-repeat center center;border:1px solid #D85B4B}
.flow_list li:nth-child(3).active1.active2 div{background:#fff url(../img/r_bulid3.png) no-repeat center center;border:1px solid #D85B4B}

.flow_list li:nth-child(4) div{background:#eee url(../img/g_bulid4.png) no-repeat center center;border:1px solid #ddd}
.flow_list li:nth-child(4).active1{color:#D85B4B}
.flow_list li:nth-child(4).active1 div{background:#D85B4B url(../img/g_bulid4.png) no-repeat center center;border:1px solid #D85B4B}
.flow_list li:nth-child(4).active1.active2 div{background:#fff url(../img/r_bulid4.png) no-repeat center center;border:1px solid #D85B4B}

.flow_list li:nth-child(5).active1{color:#D85B4B}
.flow_list li:nth-child(5) div{background:#eee url(../img/g_bulid5.png) no-repeat center center;border:1px solid #ddd}
.flow_list li:nth-child(5).active1 div{background:#D85B4B url(../img/g_bulid5.png) no-repeat center center;}
.flow_list li:nth-child(5).active1.active2 div{background:#fff url(../img/r_bulid1.png) no-repeat center center;border:1px solid #D85B4B}

/*数据模型稽核*/
.model_newlybulid_flow{width:100%;height:128px;position:relative;}
.data_model_list{padding:20px 0;}
.data_model_list dl {width:95%;margin:0 auto;margin-bottom:30px;}
.data_model_list dl dt{margin-bottom:5px;font-weight: 700;font-size: 20px;color: #D85B4B;}
.data_model_list dl dd{font-size: 14px;color: #666666;}
.data_model_list ul{margin:0 auto;padding-top:8px;}
.data_model_list ul li div{width:95%;padding:40px 0 20px;margin:0 2.5%;background: inherit;background-color:#eee;box-sizing:border-box;border-width: 1px;border-style: solid;border-color:#ddd;text-align: center;}
.data_model_list ul li div h3{font-size:18px;font-family:'微软雅黑 Bold', '微软雅黑';font-weight:700;color: #333333;margin-bottom:25px;}
.data_model_list ul li div p{width:90%;margin:0 auto;font-size:12px;color: #333333;height:180px;}
.data_model_list ul li div a{display:block;width:150px;line-height:25px;margin:0 auto;}


/*数据模型稽核_模型稽核_新建稽核_上传模型*/
.data_model_newlybuild{width:95%;margin:0 auto;}
.upload_wrap{margin-bottom:354px;}
/*数据模型稽核_模型稽核_新建稽核_逆向工程*/
.model_table_title{padding:10px;box-sizing:border-box;border:1px solid #ccc;border-bottom:none;background:#eee;}
.model_table_title h2{float:left;font-size: 16px;line-height:40px;}
.model_table_title dl{float:right;margin-left:10px;}
.model_wrap{position: relative;}
.check_er{position:absolute;right:0;top:0}
.check_er a{font-weight:bold;line-height:46px;}
/*数据模型稽核_模型稽核_新建稽核_执行对比*/
.model_wrap h2{font-size: 16px;font-weight:normal;margin-bottom:10px;}
.model_wrap .text_wrap{padding:10px;box-sizing:border-box;border:1px solid #ccc;margin-bottom:20px;}
/*数据模型稽核_模型稽核_新建稽核_稽核结果*/
.eachart_wrap{margin:20px auto;}
